<nav class="navbar navbar-expand-lg p-3 mb-2 navbar-dark" style="background-color: #292C35;">
  <a class="navbar-brand" href="/">HighFilm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="dropdown navbar-nav mr-auto">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Категории</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Боевик') }}">Боевики</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Фантастика') }}">Фантастика</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Драма') }}">Драмы</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Триллер') }}">Триллеры</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Детектив') }}">Детективы</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Ужасы') }}">Ужасы</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Детский') }}">Детские</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Приключения') }}">Приключения</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Комедия') }}">Комедии</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Документальный') }}">Документальные</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Мелодрама') }}">Мелодрамы</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Военный') }}">Военные</a>
            <a class="dropdown-item" href="{{ url_for('search.category', name = 'Фэнтези') }}">Фэнтези</a>
        </div>
    </div>
     <ul class="navbar-nav">
       <li class="nav-item">
           <a class="nav-link" href="{{ url_for('search.index')}}">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.registration')}}">Регистрация</a>
        </li>
        <li class="nav-item">
            {% if current_user.is_authenticated %}
                <a class="nav-link" href="{{ url_for('users.login')}}">Выход</a>
            {% else %}
                <a class="nav-link" href="{{ url_for('users.login')}}">Вход</a>
            {% endif %}
        </li>
     </ul>
  </div>
</nav>