#head {

}
h1 {
    text-align: left;
    font-size: 32px;
}
body {
    background-image: url("image/background.jpeg");
}

#yoh {
    width: 100%;
    height: 200px;
}

#front {
    margin-top: 100px;
    background-color: white;
    height: cover;
    position: relative;
    min-height: 120%;
}

#bar {
    background-color: yellow;
}

.film {
    margin: 20px;
    height: 30%;
}

.front2 {
    height: 120%;
    min-height: 120%;

}
.brd {
    border-bottom: 2px solid grey;
}