{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% if username %}
    <div class="col-8">
        <div id="yohoho" data-kinopoisk='{{ kinopoisk_id }}'></div>
        <p height="680" weight="480"><script src="//yohoho.cc/yo.js"></script></p>
    </div>
    <div class="col-4">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    </div>
      {% else %}
    <div class="col-8">
        <img src="static/image/sad_cat.jpeg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-4">
        <h2>Видео доступно только авторизованным пользователям</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    {% endif %}
</div>
{% endblock %}