{% extends 'base.html' %}
{% block content %}

    <div class="container front">
        <div class="row allpadding log">
            <div class="col">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="{{ url_for('users.process_registration') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <p>{{ form.username.label }}</p>
                        {{ form.username() }}
                    </div>
                    <div class="form-group">
                        <p>{{ form.email.label }}</p>
                        {{ form.email() }}
                    </div>
                    <div class="form-group">
                        <p>{{ form.password.label }}</p>
                        {{ form.password() }}
                    </div>
                    <div class="form-group">
                        <p>{{ form.password_reply.label }}</p>
                        {{ form.password_reply() }}
                    </div>
                        {{ form.submit }}

                </form>
            </div>
        </div>
    </div>
{% endblock %}