<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/style.css">
    <title>{{ title }}</title>
  </head>

  <body>
 <div style="overflow: hidden;">
    <div style="width: 100%;">

        <div style="float: right; width: 100px; height: 100px;">
            <a href="http://youtube.com"><button>registration</button></a></div>
        <div style="float: right; width: 100px; height: 100px;"><button>login</button></div>
        <div style="float: right; width: 500px; height: 100px;"><form method="post" action='hello'><input type="text" size="40" name="search"><input type="submit" value="Поиск">
 </form></div>
    </div>
  </div>
  <div>
      <p align="center"><embed><iframe width="640" height="480" src=https://www.youtube.com/embed/{{ id }} frameborder="0" allowfullscreen></iframe></p>
  </div>
  </body>
</html>