{% extends 'base.html' %}
{% block content %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if films_list.has_prev %}
            <li class="page-item"> <a class="page-link" href="{{ url_for('search.category', page=films_list.prev_num, name=name) }}">Previous</a></li>
        {% else %}
            <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
        {% endif %}

        {% for page in films_list.iter_pages(left_edge = 1, left_current = 1, right_current = 3, right_edge = 1) %}
            {% if page %}
                <li class="page-item"><a class="page-link" href="{{url_for('search.category', page=page, name=name)}}">{{page}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">...</a></li>
            {% endif %}
        {% endfor %}

        {% if films_list.has_next %}
            <li class="page-item"> <a class="page-link" href="{{ url_for('search.category', page=films_list.next_num, name=name) }}">Next</a></li>
        {% else %}
            <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>

{% for film in films_list.items %}
    {% if film.content and film.img %}
        <div class="front">
            <div class="row brd">
                    <div class="col-4 front2">
                        {% if film.kino_id %}
                            <div class="film" align="center">
                                <p><a href="{{ url_for('films.show_films', film_id=film.kino_id) }}">{{film.name}}</a></p>
                                <img width="150" height="230" src="{{ film.img }}"><p></p>
                                <div style="height:38px;background:url(&quot;https://rating.kinopoisk.ru/{{ film.kino_id}}.gif&quot;) no-repeat 50% 0">&nbsp;</div>
                            </div>
                        {% else %}
                            <div class="film" align="center">
                                <p><a href="#">{{film.name}}</a></p>
                                <p>Скоро будет добавлен!</p>
                                <img width="150" height="230" src="{{ film.img }}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-8 front2">
                        <div class="film" align="left">
                            {% if film.year %}<p><strong>Дата выхода в России:</strong> {{ film.published.strftime('%d.%m.%Y') }}</p>{% endif %}
                            <p><strong>Жанр:</strong> {{ film.category }}</p>
                            <p><strong>Описание:</strong> {{ film.content }}</p>
                        </div>
                    </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}