{% extends 'base.html' %}
{% block content %}

<div class="row">
    {% if username %}
        {% if film.kino_id %}
            <div class="col-8">
                <div id="yohoho" data-kinopoisk='{{ film.kino_id }}'></div>
                <p height="680" width="480"><script src="//yohoho.cc/yo.js"></script></p>
                <rating>
                    <kp_rating num_vote="15143">8.017</kp_rating>
                    <imdb_rating num_vote="255677">8.3</imdb_rating>
                </rating>
                <ul>
                    <li><p>{{ film.name }}</p></li>
                    <li><p>год: {{ film.year }}</p></li>
                    <li><p>Жанр: {{ film.category }}</p></li>
                    <li><p>Анонс: {{ film.content }}...</p></li>
                </ul>
            </div>
            <div class="col-4">
                <div>
                    <img width="270" height="370" src="{{ film.img }}">
                </div>
            </div>
        {% else %}
            <p>Oops, видимо фильм пока не добавили.</p>
        {% endif %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    {% endif %}
{% endblock %}